@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

.fadeInAnimation {
  animation: fadeIn 0.5s ease-out;
}

.slowFadeInAnimation {
  opacity: 0;
  animation: fadeIn 10s ease-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.shortShakeAnimation {
  animation: shake 0.5s ease-in-out;
}

.shakeAnimation {
  animation: shake 1s ease-in-out;
}

.pressAnimation {
  animation: zoom 0.2s;
}
